extends ../../layouts/default.pug

block main
  .main-wrapper
    .page-wrapper
      .content
        .row
          .col-sm-4.col-3
            h4.page-title Appointments
        .row
          .col-md-12
            .table-responsive
              table.table.table-striped.custom-table
                thead
                  tr
                    th Patient Name
                    th Age
                    th Gender 
                    th Phone Number 
                    th Doctor Name
                    th Facility
                    th Appointment Date
                    th Appointment Time
                    th Status
                    th Note
                tbody
                  each appointment in appointments
                    tr
                      td= appointment.patientInfo.fullName
                      td= appointment.age
                      td= appointment.patientInfo.gender
                      td= appointment.patientInfo.phone
                      td= appointment.doctor_id ? appointment.doctor_id.fullName : "N/A"
                      td= appointment.facility_id ? appointment.facility_id.name : "N/A"
                      //- td= appointment.doctor_id && appointment.doctor_id.facility_id ? appointment.doctor_id.facility_id.name : "N/A"
                      td= appointment.formattedDate
                      td= appointment.appointmentTime
                      td
                        if appointment.status === "pending"
                          span.custom-badge.status-green Pending
                        else if appointment.status === "confirmed"
                          span.custom-badge.status-blue Confirmed
                        else if appointment.status === "completed"
                          span.custom-badge.status-gray Completed
                        else if appointment.status === "canceled"
                          span.custom-badge.status-red Cancelled
                      td= appointment.desc || "Không có ghi chú"
      .sidebar-overlay(data-reff='')
      script.
        $(function () {
        $('#datetimepicker3').datetimepicker({
        format: 'LT'
        });
        $('#datetimepicker4').datetimepicker({
        format: 'LT'
        });
        });