extends ../../layouts/default.pug
block main
  .main-wrapper
    .page-wrapper
      .content
        .row
          .col-sm-4.col-3
            h4.page-title Patients
          .col-md-12
            .table-responsive
              table.table.table-border.table-striped.custom-table.datatable.mb-0
                thead
                  tr
                    th Name
                    th Age
                    th Address
                    th Phone
                    th Email
                tbody
                  each patient in patients
                    tr
                      td= patient.fullName
                      td= patient.dob.toISOString().split("T")[0] 
                      td= patient.address
                      td= patient.phone
                      td= patient.email

  .sidebar-overlay(data-reff='')

