extends ../../layouts/default.pug
block main
  .main-wrapper
    .page-wrapper
      .content
        .row
          .col-sm-4.col-3
            h4.page-title Doctors
          .col-sm-8.col-9.text-right.m-b-20
            a.btn.btn-primary.btn-rounded.float-right(href=`/${prefixAdmin}/doctor/add`)
              i.fa.fa-plus
              |  Add Doctor
          .row.doctor-grid
          each item in doctors 
            .col-md-4.col-sm-4.col-lg-3
              .profile-widget
                .doctor-img
                  a.avatar(href=`/${prefixAdmin}/doctor/profile/${item.id}`)
                    img(alt='' src=`${item.avatar}`)
                .h6 #{item.fullName}
                .user-country
                  i.fa.fa-map-marker
                  |  #{item.facility_id.name}
                .dropdown.profile-action
                  a.action-icon.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false')
                    i.fa.fa-ellipsis-v
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href=`/${prefixAdmin}/doctor/edit/${item.id}`)
                      i.fa.fa-pencil.m-r-5
                      |  Edit
                    a.dropdown-item(href =`/${prefixAdmin}/doctor/delete/${item.id}` data-toggle='modal' data-target='#delete_doctor')
                      i.fa.fa-trash-o.m-r-5
                      |  Delete
  #delete_doctor.modal.fade.delete-modal(role='dialog')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-body.text-center
          img(src='assets/img/sent.png' alt='' width='50' height='46')
          h3 Are you sure want to delete this Doctor?
          .m-t-20
            a.btn.btn-white(href='#' data-dismiss='modal') Close
            button.btn.btn-danger(type='submit') Delete  
    .sidebar-overlay(data-reff='')

    script(src='~/assets/js/jquery-3.2.1.min.js')
    script(src='~/assets/js/popper.min.js')
    script(src='~/assets/js/bootstrap.min.js')
    script(src='~/assets/js/jquery.slimscroll.js')
    script(src='~/assets/js/select2.min.js')
    script(src='~/assets/js/moment.min.js')
    script(src='~/assets/js/bootstrap-datetimepicker.min.js')
    script(src='~/assets/js/app.js')