extends ../../layouts/default.pug
block main
  .main-wrapper
    .page-wrapper
      .content
        .row
          .col-sm-4.col-3
            h4.page-title News
          .col-sm-8.col-9.text-right.m-b-20
            a.btn.btn-primary.btn-rounded.float-right(href=`/${prefixAdmin}/blog/add`)
              i.fa.fa-plus
              |  Add New
        .row
          each article in news
            .col-sm-6.col-md-6.col-lg-4
              .blog.grid-blog
                .blog-image
                  a(href=`/blog-details/${article._id}`)
                    img.img-fluid(src=article.imageUrl alt=article.title)
                .blog-content
                  h3.blog-title
                    a(href=`/blog-details/${article._id}`) #{article.title}
                  p #{article.desc.length > 150 ? article.desc.substring(0, 150) + "..." : article.desc}
                  a.read-more(href=`/blog-details/${article._id}`)
                    i.fa.fa-long-arrow-right
                    |  Read More
                  .blog-info.clearfix
                    .post-left
                      ul
                        li
                          a(href='#.')
                            i.fa.fa-calendar
                            span= new Date(article.createdAt).toLocaleDateString("vi-VN")
                    .post-right
                      a.btn.btn-success(href=`/${prefixAdmin}/blog/edit/${article._id}`)
                        i.fa.fa-pencil
                        |  Sửa
                      a.btn.btn-danger(href=`/${prefixAdmin}/doctor/delete${article._id}` onclick="return confirm('Bạn có chắc chắn muốn xóa?');")
                        i.fa.fa-trash
                        |  Xóa

  .sidebar-overlay(data-reff='')
  script(src='/assets/js/jquery-3.2.1.min.js')
  script(src='/assets/js/popper.min.js')
  script(src='/assets/js/bootstrap.min.js')
  script(src='/assets/js/jquery.slimscroll.js')
  script(src='/assets/js/app.js')
  // blog23:51
