extends ../../layouts/default.pug

block main
  .main-wrapper
    .page-wrapper
      .content
        .row
          .col-sm-4.col-3
            h4.page-title Appointments
        .row
          .col-md-12
            .table-responsive
              table.table.table-striped.custom-table
                thead
                  tr
                    th Patient Name
                    th Age 
                    th Gender 
                    th Phone Number 
                    th Doctor Name
                    th Facility 
                    th Appointment Date
                    th Appointment Time
                    th Status
                    th Note
                tbody
                  each appointment in appointments
                    tr
                      td= appointment.patientInfo.fullName
                      td= appointment.age
                      td= appointment.patientInfo.gender
                      td= appointment.patientInfo.phone
                      td= appointment.doctor_id ? appointment.doctor_id.fullName : "N/A"
                      td= appointment.facility_id ? appointment.facility_id.name : "N/A"
                      //- td= appointment.doctor_id && appointment.doctor_id.facility_id ? appointment.doctor_id.facility_id.name : "N/A"
                      td= appointment.formattedDate
                      td= appointment.appointmentTime
                      td
                        select.status-select(data-id=appointment._id)
                          option(value="pending" selected=appointment.status === "pending") Pending
                          option(value="confirmed" selected=appointment.status === "confirmed") Confirmed
                          option(value="completed" selected=appointment.status === "completed") Completed
                          option(value="cancelled" selected=appointment.status === "cancelled") Cancelled
                      td= appointment.desc || "Không có ghi chú"
      .sidebar-overlay(data-reff='')
      script.
        $(function () {
        $('#datetimepicker3').datetimepicker({
        format: 'LT'
        });
        $('#datetimepicker4').datetimepicker({
        format: 'LT'
        });
        });
        $(document).ready(function() {
          $('.status-select').change(function() {
            const appointmentId = $(this).data('id');
            const newStatus = $(this).val();
            
            $.ajax({
              url: `/admin/appointment/update-status/${appointmentId}`,
              method: 'POST',
              data: { status: newStatus },
              success: function(response) {
                if (response.success) {
                  alert('Status updated successfully');
                }
              },
              error: function(error) {
                console.error(error);
                alert('Error updating status');
              }
            });
          });
        });